@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: auto;
  width: 1024px;
  background-color: #4de4cf;
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
}

.head {
  margin-top: 80px;
  background-color: rgb(255, 153, 0);

}
.logo{
  margin-top: 10px;
  margin-left: 45px;
}
h1{
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px 0px 10px 60px;
  background-color: #7458d5;
  color: whitesmoke;
  border-top: 10px solid #000000;
  border-bottom: 10px solid #000000;
}
nav {
  background-color: white;
  padding: 20px;

}

.list {
  list-style-type: none;
  font-size: 25px;
  line-height: 150%;
}
.imgPrev{
  width: 400px;
}